#personal {
  padding-top: var(--toolbar-height);
  min-height: var(--component-height);
}

.aboutMe {
  padding-left: 15px;
  padding-right: 15px;
}

.aboutMe p {
  font-size: 18px;
  line-height: 24px;
}

.mat-card,
.mat-card-subtitle,
.mat-card-title,
.mat-list-item {
  background-color: var(--secondary-light);
  color: var(--accent-dark);
}

.mat-divider {
  background-color: var(--accent-dark);
  color: var(--accent-dark);
}
