<div id="interests">
  <div fxFlex fxLayout="row">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-between none">
      <div>
        <div class="subtitle">Interesses & hobby's</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="0" fxFlex.gt-sm="20"></div>
        <div fxLayout="column">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            [ngStyle]="{ marginBottom: 'calc(20px + 6vh)' }"
          >
            <div class="hobby-icon">
              <mat-icon aria-label="gaming icon">sports_esports</mat-icon>
            </div>
            <div class="hobby-label">Gamen</div>
          </div>

          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            [ngStyle]="{ marginBottom: 'calc(20px + 6vh)' }"
          >
            <div class="hobby-icon">
              <mat-icon aria-label="eBike icon">electric_bike</mat-icon>
            </div>
            <div class="hobby-label">Fietsen</div>
          </div>

          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            [ngStyle]="{ marginBottom: 'calc(20px + 6vh)' }"
          >
            <div class="hobby-icon">
              <mat-icon aria-label="jogging icon">directions_run</mat-icon>
            </div>
            <div class="hobby-label">Joggen</div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="hobby-icon">
              <mat-icon aria-label="hiking icon">hiking</mat-icon>
            </div>
            <div class="hobby-label">Hiken</div>
          </div>
        </div>
        <div fxFlex="0" fxFlex.gt-sm="20"></div>
      </div>

      <app-quote
        quote="One must renounce the bad taste of wishing to agree with many people."
        author="Friedrich Nietzsche"
      ></app-quote>
    </div>
    <div fxFlex="20"></div>
  </div>
</div>
