#interests {
  padding-top: var(--toolbar-height);
  min-height: var(--component-height);
}

.hobby-icon .mat-icon {
  font-size: calc(20px + 3vw);
  margin-right: calc(20px + 5vw);
  color: var(--secondary-light);
}

.hobby-label {
  font-size: calc(16px + 3vw);
  color: var(--secondary-light);
}
