<mat-toolbar
  [ngClass]="{ hide: !toolbarVisible, show: toolbarVisible }"
  class="toolbar-sticky"
>
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="left center">
      <div>
        <button mat-icon-button aria-label="menu icon">
          <mat-icon class="toolbar-icon" (click)="toggleToolbar()">{{
            menuIcon
          }}</mat-icon>
        </button>
      </div>

      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <button
            mat-button
            [disabled]="!toolbarVisible"
            [ngClass]="{
              hideBtn: !toolbarVisible,
              showBtn: toolbarVisible
            }"
            (click)="scroll('personal')"
          >
            Over Mij
          </button>

          <button
            mat-button
            [disabled]="!toolbarVisible"
            [ngClass]="{
              hideBtn: !toolbarVisible,
              showBtn: toolbarVisible
            }"
            (click)="scroll('interests')"
          >
            Interesses
          </button>

          <button
            mat-button
            [disabled]="!toolbarVisible"
            [ngClass]="{
              hideBtn: !toolbarVisible,
              showBtn: toolbarVisible
            }"
            (click)="scroll('professional')"
          >
            Professioneel
          </button>

          <button
            mat-button
            [disabled]="!toolbarVisible"
            [ngClass]="{
              hideBtn: !toolbarVisible,
              showBtn: toolbarVisible
            }"
            (click)="scroll('links')"
          >
            Links
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
