<div id="professional">
  <div fxFlex fxLayout="row">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="column" fxLayoutGap="20px">
      <h2>Professional</h2>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="20px"
      >
        <div class="devicon-icon-container">
          <i class="devicon-html5-plain-wordmark devicon-icon colored"></i>
        </div>
        <div class="devicon-icon-container">
          <i class="devicon-css3-plain-wordmark devicon-icon colored"></i>
        </div>
        <div class="devicon-icon-container">
          <i class="devicon-javascript-plain devicon-icon colored"></i>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="20px"
      >
        <div class="devicon-icon-container">
          <i class="devicon-csharp-plain-wordmark devicon-icon colored"></i>
        </div>
        <div class="devicon-icon-container">
          <i class="devicon-dotnetcore-plain devicon-icon colored"></i>
        </div>
        <div class="devicon-icon-container">
          <i class="devicon-microsoftsqlserver-plain-wordmark devicon-icon"></i>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="20px"
      >
        <div class="devicon-icon-container">
          <i class="devicon-angularjs-plain-wordmark devicon-icon colored"></i>
        </div>
        <div class="devicon-icon-container">
          <i class="devicon-react-original-wordmark devicon-icon colored"></i>
        </div>
      </div>

      <app-quote
        quote="If you can’t explain it simply , you don’t understand it well enough."
        author="Albert Einstein"
      >
      </app-quote>
    </div>
    <div fxFlex="20"></div>
  </div>
</div>
