/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #3aafa9;
  --secondary-dark: #2b7a78;
  --secondary-light: #def2f1;
  --accent-dark: #17252a;
  --accent-light: #feffff;

  /* pick a highlight color here */
  --highlight: #dbd56e;
  /* --highlight: #cc3363; */
  /* --highlight: #95c623; */
  /* --highlight: #ed6a5a; */
  /* --highlight: #ff6f59; */
}

/* #region General styling*/

.bgPrimary {
  background-color: var(--primary);
}

/* #endregion General styling*/
