#home {
  padding-top: var(--toolbar-height);
  min-height: var(--component-height);
  background-color: var(--accent-dark);
}

.text {
  font-size: calc(10px + 3vw);
  color: var(--highlight);
}

.bgHome-banner-bracket-mirrored {
  transform: scaleX(-1);
  text-align: center;
}

.bgHome-banner-bracket {
  text-align: center;
}
