<mat-grid-list
  cols="16"
  rowHeight="fit"
  style="height: 100vh; text-align: center"
  class="bgHome-banner"
>
  <mat-grid-tile colspan="3" class="bgHome-banner-bracket">
    <div
      class="bgHome-banner-bracket-left"
      [ngClass]="{ 'content-small': contentSmall }"
    >
      {{ "{" }}
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="10">
    <img
      src="assets/images/profielfoto.png"
      alt="mijn profielfoto"
      [width]="contentHeight"
    />
  </mat-grid-tile>
  <mat-grid-tile colspan="3" class="bgHome-banner-bracket">
    <div
      class="bgHome-banner-bracket-right"
      [ngClass]="{ 'content-small': contentSmall }"
    >
      {{ "}" }}
    </div>
  </mat-grid-tile>
</mat-grid-list>
