<div fxLayout="column" fxLayoutAlign="space-evenly stretch" id="home">
  <div fxFlex="20" fxLayoutAlign="center center" class="text">
    Ik ben Kristof Tops
  </div>
  <div fxFlex="60" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxFlex="20" class="bgHome-banner-bracket-mirrored">
      <img src="assets/images/Curly_bracket.svg" [height]="contentHeight" />
    </div>
    <div fxFlex="60" fxLayoutAlign="center center">
      <img
        src="assets/images/profielfoto.png"
        [height]="contentHeight"
        alt="mijn profielfoto"
      />
    </div>
    <div fxFlex="20">
      <img src="assets/images/Curly_bracket.svg" [height]="contentHeight" />
    </div>
  </div>
  <div fxFlex="20" fxLayoutAlign="center center" class="text">Developer</div>
</div>
